// colors

$color-primary: #1A1A1A; // Cod Gray
$color-secondary: #FFFFFF; // White
$color-1: #faf8f8; // Light Gray
$color-2: #9c9999; // Gray

// Fonts

$font-primary: 'Roboto', sans-serif;
$font-secondary: Arial, Helvetica, sans-serif;